# Maven build artifacts
target/
pom.xml.tag
pom.xml.next
pom.xml.bak
release.properties
dependency-reduced-pom.xml
builddirectory/
# Eclipse project files (often used alongside Maven)
.classpath
.project
.settings/

# VS Code specific files
.vscode/                

# Java class files and archives
*.class
*.jar
*.war
*.ear

# Log and temporary files
logs/
*.log
*.tmp
hs_err_pid*              # Virtual machine crash logs

# OS-specific files
.DS_Store                # macOS
Thumbs.db                # Windows